<nav class="navbar navbar-fixed-top noscrollActive noscroll" role="navigation">
    <ng-include src="'includes/header.html'"></ng-include>
</nav>

<header class="banner locations">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <h1>Our Locations</h1>
            </div>
        </div>
    </div>
</header>

<ol class="breadcrumb container">
    <li><a href="home">Home</a></li>
    <li class="active">Locations</li>
</ol>

<section class="locations"
    itemprop="mainEntity" 
    itemscope 
    itemtype="http://schema.org/LegalService" 
    itemid=""
    itemref="">

    <header class="container headline">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
                <p class="caption">We speak several languages and travel often to efficiently service with maximum confidentiality a spectrum of renowned legal, fiduciary, banking, trust and accounting firms across Europe and the Americas. See our Office locations below.</p>
            </div>
        </div>
    </header>

    <div class="highlight">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-no-gutter">
                    <h2>Our Office Locations</h2>
                </div>              
                <ng-include src="'includes/locations-include.html'"></ng-include>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</section>